@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
h1, h2, h3, h4, h5, h6, span {
  font-family: "Oswald"; }

p, li, ul, a {
  font-family: "Noto"; }

a {
  text-decoration: none; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f5e5da; }

@media only screen and (min-width: 901px) {
  .img-index {
    width: 650px;
    height: 700px;
    margin-top: 20px; } }

.img-lavado {
  padding: 5px; }

#containerLavado {
  margin-top: 15px; }

.info-lavado {
  margin-top: 100px;
  padding: 5px;
  text-align: center; }

.img-lavado2 {
  width: 400px;
  height: 400px;
  padding: 5px;
  margin-top: -200px; }

#lavadoRuedas3 {
  margin-left: 190px; }

#carouselIndex {
  height: 500px; }

@media only screen and (max-width: 900px) {
  .img-index {
    width: 400px;
    height: 500px;
    margin-top: 20px; }
  #lavadoRuedas3 {
    margin-right: 100px; }
  .img-lavado {
    width: 300px;
    height: 300px;
    padding: 10px; }
  .img-lavado2 {
    width: 200px;
    height: 200px;
    margin-top: 20px !important; }
  .info-lavado {
    margin: 0; }
  #carouselIndex {
    height: 300px; }
  #imgPloteo {
    margin-left: 103px; } }

.animate__animated.animate__backInLeft {
  --animate-duration: 1.5s; }

.animate__animated.animate__backInRight {
  --animate-duration: 1.5s; }

.animate__animated.animate__backInUp {
  --animate-duration: 1.5s; }

@keyframes glowing {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

header nav {
  opacity: 0.5; }
  header nav div {
    padding: auto; }
    header nav div .navbar-brand #headerLogo1 {
      color: #cf9e75;
      font-size: 25px; }
    header nav div .navbar-brand #headerLogo2 {
      color: #ffffff;
      font-size: 25px; }
    header nav div .navbar-toggler .navbar-toggler-icon {
      background-image: url(../Imagenes/menuhamburg.png); }
    header nav div .navbar-collapse .navbar-nav a {
      padding: auto; }
      header nav div .navbar-collapse .navbar-nav a:hover {
        color: #cf9e75; }
    header nav div .navbar-collapse .navbar-nav .nav-link {
      color: #f3f3f3;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 20px; }
    header nav div #headerContacto {
      display: flex;
      justify-content: end;
      color: #f3f3f3;
      font-size: 20px; }
      header nav div #headerContacto:hover {
        color: #cf9e75; }

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  color: #fff;
  overflow: auto; }
  footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    footer .footer-content h3 {
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 3rem;
      color: #cf9e75; }
  footer .footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center; }
    footer .footer-bottom p {
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize; }
    footer .footer-bottom span {
      opacity: .4;
      font-weight: 200; }

.container-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px solid black;
  /*&::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../../Imagenes/logo.jpg) no-repeat center;
        background-size: cover;
        z-index: -1;
        filter: blur(50px);
        
    }*/ }
  .container-contacto .contact-box .left {
    height: 100%; }
  .container-contacto .contact-box .right {
    padding: 25px 40px; }
    .container-contacto .contact-box .right h2 {
      position: relative;
      padding: 0 0 10px;
      margin-bottom: 10px;
      color: #cf9e75;
      -webkit-text-stroke: .1px white; }
      .container-contacto .contact-box .right h2::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 2px;
        background-color: #cf9e75; }
    .container-contacto .contact-box .right .field {
      width: 100%;
      border: 2px solid rgba(0, 0, 0, 0);
      outline: none;
      background-color: white;
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      margin-bottom: 22px;
      transition: .3s; }
      .container-contacto .contact-box .right .field:hover {
        background-color: rgba(0, 0, 0, 0.1); }
      .container-contacto .contact-box .right .field:focus {
        border: 2px solid rgba(30, 85, 250, 0.47);
        background-color: #fff; }
    .container-contacto .contact-box .right textarea {
      min-height: 150px; }
    .container-contacto .contact-box .right .btn {
      width: 100%;
      padding: 0.5rem 1rem;
      background-color: #cf9e75;
      color: #fff;
      font-size: 1.1rem;
      border: none;
      outline: none;
      cursor: pointer;
      transition: .3s; }
      .container-contacto .contact-box .right .btn:hover {
        background-color: #000000;
        color: black; }

#container-ploteos {
  background-color: #fff !important;
  margin-top: -4; }
  #container-ploteos div div .texto-ploteo {
    color: black;
    font-size: 20px; }

div div #carouselIndex #carouselExampleAutoplaying div .carousel-item {
  width: 100%;
  height: 100%; }
  div div #carouselIndex #carouselExampleAutoplaying div .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

div div div .nosotros-indexT {
  color: #cf9e75;
  font-size: 40px;
  font-weight: 700; }

div div div .nosotros-indexS {
  color: #000000;
  font-size: 20px; }

div div div h1 {
  color: #cf9e75;
  font-size: 40px;
  font-weight: 700; }

div div #cardIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }
  div div #cardIndex .card .card-body {
    background-color: #fdfdfd; }
    div div #cardIndex .card .card-body .card-title {
      color: #cf9e75;
      font-size: 25px;
      transition: .5s;
      font-weight: bolder; }
    div div #cardIndex .card .card-body .btn {
      color: #fff;
      background-color: #cf9e75; }

div div div .subt-index {
  color: #000000;
  font-size: 20px; }

div div div .titleIndex {
  font-size: 70px;
  color: #cf9e75; }
