/*Reset
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
Header
#headerContacto{
    display: flex;
    justify-content: end;
}
#headerLogo1{
    color: #7f0000;
}
#headerLogo2{
    color: #f3f3f3;
}
#navBar{
    background-color: #020304;
    padding: auto;
}

.navbar-nav a{
    color: #f3f3f3;
}
.navbar-nav a:hover{
    color: #7f0000;
}
.nav-link{
    color: #f3f3f3;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-collapse{
    display: flex;
    justify-content:center;
}
.navbar-toggler-icon {
    background-image: url(../Imagenes/menuhamburg.png);
}
*/
/*Header
 Footer 
.footer{
    position: fixed;
    background-color: #020304;
    bottom: 0;
    width: 100%;
    height: 20px;
    bottom: 0;
    font-size: 16px;
}

.footer__copyright{
    display: flex;
    justify-content: center;
    color: rgb(48, 45, 45);
}
Footer */

/*a{
    text-decoration: none;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
} 
*/
/*Contactanos*/
#mapContacto{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    max-width: fit-content;
}
.container__form{
    color: white;
    padding-top: 10%;
}
.container__contacto{
    margin-bottom: 10%;
}
.container__datos{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: start;
}
#hcontactanos{
    color: white;
    margin: 0;
    font-size: 30px;  
}
input, textarea{
    width: 100%;
    margin-bottom: 2%;
    box-sizing: border-box;
    font-size: 16px;
}
textarea{
    min-height: 50%;
    max-height: 200px;
    max-width: 100%;
    min-width: 50%;
}
#botoncontacto{
    padding: 5px;
    cursor: pointer;
}
/*--------------Flip Cards--------------*/
.wash_section{
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 115px;
    justify-content: space-evenly;
}
.washpage{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}
.washpage__inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 1.5s;
    transform-style: preserve-3d;
    box-shadow: 0 5px 10px red;
}
.washpage:hover .washpage__inner{
    transform: rotateY(180deg);
}
.washpage__front{
    background-color: #bbb;
    color: black;
}
.washpage__back{
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1.5s;
    background-color: #020304;
    padding: 15px;
    color: #f3f3f3;
}
.washpage__about{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
}
.washpage__link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.washpage__front img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.washpage__link a{
    color: #f3f3f3;
}
.washpage__back h3{
    font-size: 30px;
    margin-top: 20px;
}
.washpage .washpage__front:hover{
    transform: perspective(600px) rotateY(180deg);
}
.washpage .washpage__back:hover{
    transform: perspective(600px) rotateY(360deg);
}
.washpage__front, .washpage__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
.washpage:hover .washpage__inner{
    transform: rotateY(180deg);
}
.washpage__front, .washpage__back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/*
.img-index{
   max-width: 100%;
   max-height: 100%;
}
#lavadoIndex{
    height: 72%;
    width: 85%;
}

.info-index{
    color: #f3f3f3;
}

.titleIndex{
    font-size: 50px; 
    color: #7f0000;
}
.subt-index{
    color: #f3f3f3;
}
.a-index{
    overflow: hidden;
    cursor: pointer;
    transform: all 400ms ease;
}
.animate__animated.animate__backInLeft {
    --animate-duration: 1.5s;
  }
.animate__animated.animate__backInRight {
    --animate-duration: 1.5s;
}
.animate__animated.animate__backInUp {
    --animate-duration: 1.5s;
}
*/
.img-lavado{
    width: 400px;
    height: 400px;
    
}
#lavadoRuedas3{
    margin-left: 180px;
}
.a-lavado{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.btn-lavado{
    color: #f3f3f3;
    background-color: #7f0000;
    border: none;
    font-size: 20px;
}


