.animate__animated.animate__backInLeft {
    --animate-duration: 1.5s;
  }
.animate__animated.animate__backInRight {
    --animate-duration: 1.5s;
}
.animate__animated.animate__backInUp {
    --animate-duration: 1.5s;
}

@keyframes glowing {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}