.animate__animated.animate__backInLeft {
    --animate-duration: 1.5s;
  }
.animate__animated.animate__backInRight {
    --animate-duration: 1.5s;
}
.animate__animated.animate__backInUp {
    --animate-duration: 1.5s;
}