div{
    color: #fff;
    div{
        div{
            .img-lavado{
                width: 400px;
                height: 400px;  
                padding: 10px; 
            }
        }
        div{
            .info-lavado{
                color: $paragraph-color;
                font-size: 20px;
            }
            .a-lavado{
                display: flex;
                justify-content: center;
                text-decoration: none;
                .btn-lavado{
                    color: $paragraph-color;
                    background-color:$title-color;
                    border: none;
                    font-size: 20px;
                    &:hover{
                        color:$title-color;
                        background-color: $paragraph-color;
                    }
                }
            }
        }
    }
}