#container-opticas{
    background-color: #fff;
    div{
        .titulo-opticas{
            color: $title-color;
            font-size: 30px;
        }
    }
    div{
        .texto-opticas{
            font-size: 15px;
        }
    }
    div{
        div{
            .img-opticas{
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}