div{
     div{
        div{
            .a-index{
                overflow: hidden;
                cursor: pointer;
                transform: all 400ms ease;
                .info-index{
                    color: #f3f3f3;
                    font-size: 20px;
                }
                .img-index{
                    max-width: 100%;
                    max-height: 100%;
                }
                .categorias-index{
                    font-size: 35px;
                    color: #7f0000;
                }
            }
        }
    }
}

div{
    div{
        div{
            .subt-index{
                color: #f3f3f3;
                font-size: 20px;
            }
        }
        div{
            .titleIndex{
                font-size: 70px; 
                color: #7f0000;
            }
        }
    }
}