header{
    nav{
        opacity: 0.5;
        div{
            padding: auto;
            .navbar-brand{
                opacity: 1;
                #headerLogo1{
                    color: #7f0000;
                    font-size: 25px;
                }
                #headerLogo2{
                    color: #f3f3f3;
                    font-size: 25px;
                }
            }
            .navbar-toggler{
                .navbar-toggler-icon {
                    background-image: url(../Imagenes/menuhamburg.png);
                }
            }
            .navbar-collapse{
                .navbar-nav{
                    a{
                        padding: auto;
                        &:hover{
                            color: #7f0000;
                        }
                    }
                    .nav-link{
                        color: #f3f3f3;
                        margin-left: 10px;
                        margin-right: 10px;
                        font-size: 20px;
                    }
                }
            }
            #headerContacto{
                display: flex;
                justify-content: end;
                color: #f3f3f3;
                font-size: 20px;
                &:hover{
                    color: #7f0000;
                }
            }
        }
    }
}